<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="myAppender" class="LoggerAppenderFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date{Y-m-d H:i:s,u} %-5level [%logger] %message%newline%ex" />
        </layout>
        <param name="file" value="myLog.log" />
    </appender>
    <root>
        <level value="Debug" />
        <appender_ref ref="myAppender" />
    </root>
</configuration>